.formulario {
    width: 500px;
}

div {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.legenda {
    font-weight: bold;
    font-size: 20px;
}

.texto-direto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid black;
}

.radio {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border-bottom: 1px solid black;
}

.radio-legenda {
    margin-right: 2rem;
}

.observacoes {
    
}