.formulario {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.item-formulario {
    padding: 1rem;
}

.legenda {
    font-size: 18px;
    font-weight: bold;
    margin: 0.5rem 0;
}

.botao {
    border-radius: 20px;
    width: 8rem;
    border: none;
    background-color: #101757;
    color: white;
    padding: 0.5rem;
}